<!DOCTYPE html>
<html>

<head>
  <title>E-commerce</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="relative">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/javascripts/script.js"></script>