<nav class="py-10 bg-blue-900 flex items-center justify-between px-10 lg-w-full sm:w-screen">
    <div><h1 class="flex items-center text-2xl sm:text-5xl  font-bold">SH<img class="h-[3.8vw] sm:h-[4vw] w-[3.8vw] sm:w-[3.8vw] rounded-full cursor-pointer " src="/images/pant.webp" alt="">RTS</h1></div>
   <div class="flex gap-5">
    <a class="hover:underline" href="/">HOME</a>
    <a class="hover:underline" href="/about">ABOUT</a>
    <a class="hover:underline" href="/product">PRODUCTS</a>
    <a class="hover:underline" href="/contact">CONTACTUS</a>
    <a class="hover:underline" href="/createproduct">CREATEPRODUCT</a>
    <a class="text-2xl" href="/cart"><i class="ri-shopping-cart-line relative ">
      <%if(!newcart || !newcart.product){%>
        <small class="absolute top-[-75%] left-[30%] text-yellow-400   text-[1vw]  font-bold">0</small>
        <%}else{%>
          <small class="absolute top-[-75%] left-[30%] text-yellow-400   text-[1vw]  font-bold"><%=newcart.product.length%></small>
       <%}%>
    </i></a>
    <a href="/account">
      <img class="h-[2vw] w-[2vw] rounded-full" src="<%=user.image%>" alt="">
    </a>
   </div>
  </nav>