<%-include("./partials/header") %>
<div class="bg-blue-800 min-h-screen w-full text-white ">
    <%-include("./partials/nav")%>
    <div class="flex lg:flex-row lg:items-start lg:justify-start w-full md:flex-col-reverse lg:px-[5vw]  lg:py-5 md:items-center md:justify-center  overflow-hidden">
        <div class="lg:W-1/2 rounded-[1vw] overflow-hidden  lg:py-4">
             <img class="lg:h-[38vw]  lg:w-full md:px-10 md:h-[60vw] md:mt-[5vw] md:w-full md:mb-[5vw] lg:mt-0 md:rounded-[10vw] lg:rounded-[5vw]" src="https://rukminim2.flixcart.com/image/612/612/xif0q/short/w/k/e/xl-boxer-001-peoplelike-original-imagz724enyejjaz.jpeg?q=70" alt=""></div>
        <div class=" lg:w-1/2 md:w-full   md:px-10 rounded  md:py-0 ">
            <h1 class="lg:text-2xl md:text-6xl font-semibold md:mt-10 md:mb-5">ABOUT SHORTS</h1>
            <P class="lg:text-[1rem] md:text-[4vw] lg:leading-[-10rem]" >Welcome to SHORTS! <br>

                At SHORTS, we’re passionate about bringing you the best in fashion, providing the finest gourmet products, etc. Our journey began in 2024, with a vision to offer high-quality, affordable products that enhance your lifestyle <br>
                
                <span class="font-bold">Our Story -</span>  <br>
                Founded by [Founder’s Name or “our dedicated team”], we started with a simple idea to make shopping easier and more enjoyable. Since then, we have grown into a thriving business, reaching customers worldwide with our curated selection of unique and stylish items. <br>
                
               <span class="font-bold"> Our Mission -</span>  <br>
                Our mission is simple: to provide our customers with exceptional products and outstanding service. We believe in quality, affordability, sustainability <br>
                <span class="font-bold">Why Choose Us?</span><br>
                Quality Products - We carefully select our products to ensure they meet our high standards of quality and durability.
                Excellent Customer Service - Our friendly customer service team is always here to help with any questions or concerns you may have.
                Fast and Reliable Shipping - We strive to deliver your orders promptly and efficiently. <br>
                
                Thank you for choosing SHORTS. We look forward to serving you!
                
                </P>
        </div>
    </div>
</div>
<%-include("./partials/footer") %>