<%- include("./partials/header") %>
<div class="bg-blue-800 min-h-screen w-full text-white ">
    <%-include("./partials/nav")%>
    <div class="flex w-full px-[5vw] h-[86vh] py-5  overflow-hidden">
        <div class="W-1/2 rounded-[1vw] overflow-hidden  py-4"> <img class="h-[100%] w-full rounded-[1vw]" src="https://rukminim2.flixcart.com/image/612/612/xif0q/short/w/k/e/xl-boxer-001-peoplelike-original-imagz724enyejjaz.jpeg?q=70" alt=""></div>
        <div class=" w-1/2 rounded px-8 py-10">
            <h1 class="text-2xl font-semibold pb-2">ABOUT SHORTS</h1>
            <P>Welcome to SHORTS! <br>

                At SHORTS, we’re passionate about bringing you the best in fashion, providing the finest gourmet products, etc. Our journey began in 2024, with a vision to offer high-quality, affordable products that enhance your lifestyle <br>
                
                <span class="font-bold">Our Story -</span>  <br>
                Founded by [Founder’s Name or “our dedicated team”], we started with a simple idea to make shopping easier and more enjoyable. Since then, we have grown into a thriving business, reaching customers worldwide with our curated selection of unique and stylish items. <br>
                
               <span class="font-bold"> Our Mission -</span>  <br>
                Our mission is simple: to provide our customers with exceptional products and outstanding service. We believe in quality, affordability, sustainability <br>
                <span class="font-bold">Why Choose Us?</span><br>
                Quality Products - We carefully select our products to ensure they meet our high standards of quality and durability.
                Excellent Customer Service - Our friendly customer service team is always here to help with any questions or concerns you may have.
                Fast and Reliable Shipping - We strive to deliver your orders promptly and efficiently. <br>
                
                Thank you for choosing SHORTS. We look forward to serving you!
                
                </P>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>