<%-include("./partials/header")%>
<div class="bg-blue-800 h-[100vh] w-full text-white">
    <%-include("./partials/nav")%>
    <div class="h-[86vh] w-full  flex lg:flex-nowrap lg:flex-row md:gap-5   lg:gap-[10vw] justify-center items-center   md:flex-col relative">
       <div class=" lg:w-1/2 ">
        <h1 class="text-7xl font-mono tracking-tighter pl-[5vw]  font-semibold">Raining Offers For <br> Hot Summer!</h1>
        <h4 class="font-mono tracking-tighter pl-[5vw] pt-[2vw] text-3xl font-semibold mb-[7vh]">25% Off On All Products</h4>
        <a class=" ml-[5vw] my-[5rem] px-[1.3vw] py-[.85vw] text-[.9rem] text-black font-bold bg-white" href="/product">SHOP NOW</a>
        <a class=" ml-[2vw] my-[5rem] px-[1.3vw] py-[.7vw] text-[.9rem] text-white font-bold border-2 border-white " href="/findmore">FIND MORE</a>
       </div>
       <div class="md:h-full md:w-full  lg:w-1/2">
        <img class="lg:h-[40vw] lg:w-[28vw] ml-[5vw] md:w-[28vw] md:h-[40vw] object-cover object-top md:mx-auto " src="/images/male-model-photography-male-model-portfolio-shoot-in-delhi-noida-gurgaon-gurugram-3_orig-removebg-preview.png" alt="">
       </div>
    </div>
</div>


<%-include("./partials/footer")%>