<%- include("./partials/header") %>
<div class="bg-blue-800 min-h-screen lg:w-full sm:w-screen text-white flex items-center justify-center">
    <form class=" relative sm:w-full lg:w-1/2 px-4  bg-transparent gap-5 text-black  rounded" action="/users/login" method="post">
        <h1 class="text-center text-white lg:text-4xl sm:text-[4rem]  font-bold mb-4">SIGN IN / LOGIN</h1>
        <div class="flex flex-col gap-5 w-full">
            <input type="text" name="username" placeholder="Username" class="sm:py-8 lg:py-5 lg:text-xl sm:text-4xl px-3 text-black rounded-md border border-gray-300">
            <input type="password" name="password" placeholder="Password" class="sm:py-8 lg:py-5 lg:text-xl sm:text-4xl px-3 text-black rounded-md border border-gray-300">
            <button class="bg-slate-800 lg:text-xl  sm:text-[2.5rem] font-semibold  lg:py-4 sm:py-8 text-white border rounded-lg hover:bg-slate-700 transition duration-300">Login</button>
        </div>
        <p class="text-white text-sm sm:text-4xl  text-center sm:mt-10 ">Don't have an account? <a class="text-yellow-500 hover:underline" href="/users/register">Register!</a></p>
    </form>
</div>
<%- include("./partials/footer") %>
