<%-include("./partials/header")%>
<div class="bg-blue-800 h-[100vh] w-full text-white relative">
   
   
 <div class="absolute top-[50%] left-[50%] -translate-y-2/4 -translate-x-2/4"> 
    <h1 class="lg:text-5xl md:text-6xl md:font-semibold whitespace-nowrap text-center ">Order Placed Successfully  🎉</h1>
    <h4 class="text-center lg:mt-4 mb-5 lg:text-xl md:text-3xl whitespace-nowrap md:my-10">Your product will deliver within three days</h4>
<div class="text-center">
    <a class="px-5 py-2 rounded bg-yellow-500 lg:text-3xl md:text-5xl md:mt-5xl "  href="/">Go to homepage</a>
</div>
 </div>
</div>


<%-include("./partials/footer")%>