<%-include("./partials/header")%>
<div class="bg-blue-800 h-[100vh] w-full text-white">

<div class="flex ">
    <form class="flex flex-col bg-transparent gap-5 text-black mx-auto my-[3%] registerform" action="/users/register" method="post">
        <h1 class="text-center text-white text-3xl">SIGNUP</h1>
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="image" placeholder="Imageurl">
        <input type="password" name="password" placeholder="Password">
        <button class="w-full bg-slate-800 text-2xl py-4 text-white border rounded-[1vw]">Register</button>
    </form>
</div>
</div>
<%-include("./partials/footer")%>