* {
margin:0;
padding:0;
box-sizing:border-box;
}
html,
body {
height:100%;
width:100%;
}
#preloader{
 background: #101010 url("../images/preloader.gif") no-repeat center center;
background-size: 18%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}